@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

    <p> <a href="#" target="_blank">https://plus.google.com/communities/103786778853722637637</a> </p>
